<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('partials/header'); %>
  </header>

  <main>
    <h1>Random Number Game</h1>
    <h4>Generate a number between 0 and </h4>
    <!-- number -->
    <p>Guess the number: </p> 
    <!-- number -->
    <p>You choose: </p>
    <p class="choose"></p>
  </main>

  <footer>
    <%- include('partials/footer'); %>
  </footer>
</body>

</html>